openapi: 3.0.0
info:
  title: ReciPal API
  version: 1.0.0
  description: Access ReciPal recipes via API for demand planning and inventory checks.
servers:
  - url: https://api.recipal.com/v1
paths:
  /recipes:
    get:
      summary: Get all recipes
      parameters:
        - in: query
          name: tag
          schema:
            type: string
          description: Filter recipes by tag
        - in: query
          name: updated_after
          schema:
            type: string
            format: date
          description: Only include recipes updated after this date (e.g., 2023-07-01)
      responses:
        '200':
          description: A list of recipes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Recipe'
  /recipes/{id}:
    get:
      summary: Get a recipe by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A single recipe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipe'
components:
  schemas:
    Recipe:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        ingredients:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              quantity:
                type: number
              unit:
                type: string
        updated_at:
          type: string
          format: date-time
        tags:
          type: array
          items:
            type: string
